<div id="signup">
  <img src="../../../assets/logo_transparent.png" alt="" />
  <h1>Create your account</h1>
  <form action="">
    <input type="text" name="" id="" placeholder="Enter your email address…" />
    <input type="text" name="" id="" placeholder="Enter your password..." />
    <input
      type="text"
      name=""
      id=""
      placeholder="Enter your password confirmation...."
    />
    <button type="submit">Create account</button>
    <span>Already have account? <a routerLink="/login">Login</a></span>
  </form>
</div>
