<div id="signup">
  <img src="../../../assets/logo_transparent.png" alt="" />
  <h1>Create your account</h1>
  <form (submit)="submit(f)" #f="ngForm">
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Enter your email address…"
      required
      ngModel
      #email="ngModel"
      email
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter your password..."
      required
      ngModel
      #password="ngModel"
      minlength="8"
    />
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Enter your password confirmation...."
      required
      ngModel
      #confirmPassword="ngModel"
      minlength="8"
    />
    <button type="submit">
      <app-loader *ngIf="isLoading"></app-loader>
      <ng-container *ngIf="!isLoading">Create account</ng-container>
    </button>
    <span>Already have account? <a routerLink="/login">Login</a></span>
  </form>
</div>
