/* You can add global styles to this file, and also import other style files */

@import "normalize.css/normalize";
@import "ngx-toastr/toastr";

body {
  height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #0b2f43 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
